
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LOGIN</h1>
<div class="login">
    <form action="Login" method="post">
        <input type="text" name="correo" placeholder="Ingresa Correo"/>
        <input type="password" name="name" placeholder=" Ingresa Contraseña"/>
        <input type="submit" placeholder="LogIn" />
    </form>
</div>
<a href="@Url.Action("Registrar", "User")">Registrarse</a>

